<div class="container">
    <h1>About Me</h1>
    <div class="contain mt-5">
      <div class="container1">
        <img src="../../../assets/BigSmoke-GTASA.png" alt="My Photo" class="profile-pic" />
      </div>
      <div class="container2">
        <h2>
          Hi, I'm Gaurav. 
        </h2>
        <hr>
        <p>I am a passionate developer interested in building innovative solutions and exploring new technologies. I enjoy working on full-stack projects, solving coding challenges, and learning about AI/ML.</p>
        <p>When I'm not coding, I love playing video games </p>
        <p>Feel free to reach out to me at 
        <a href="mailto:gauravpatilk11@gmail.com">Gaurav</a> 
     </div>
    </div>  
     </div>
  